button {
  width: 6.4rem;
  height: 6.4rem;

  padding: 2rem;
  border-radius: 100rem;

  border: none;
  background-color: #53ffaa;

  position: absolute;
  bottom: -3.2rem;
  
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 40px #53ffaa;
}
